body {
    background-color: rgb(8, 92, 202);
    background-image: url(mislogo.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: round;
    background-position: center;
    font-family: sans-serif;
}

header {
    width: 53.8%;
    text-align: center;
    background-color: rgba(29, 97, 46, 0.993);
    color: rgb(231, 231, 231);
    margin: 2em auto;
    padding: 0.3em 1em;
    border-radius: 5px;
    font-size: 1.1em;
}

#survey-form {
    width: 50%;
    margin: 1em auto;
    background-color:  rgba(2, 36, 68, 0.932);
    padding: 2.5em;
    border-radius: 5px;
    color: rgb(236, 240, 243);
    font-size: large;
}

.survey-form:focus {
    border-color: blue;
}

input[type=text], input[type=email], input[type=number], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    border: none;

}

input, button, select, textarea {
    margin-top: 10px;
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
}
input[type=submit] {
    width: 75%;
    padding: 0.6em;
    background-color: rgba(29, 97, 46, 0.993);
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 0%;
    margin-right: 0%;
    border: none;
    color: white;
}
input[type=reset] {
    width: 24%;
    padding: 0.6em;
    background-color: rgba(153, 32, 23, 0.993);
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 0%;
    margin-right: 0%;
    border: none;
    color: white;
}

input[type=radio],
input[type=checkbox] {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1rem;
  min-width: 1rem;
}